Repository pkuppens/babblr: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, backend-tests, frontend-prettier, frontend-eslint, frontend-tests, check-markdown-local-links, markdownlint-cli2, remark-validate-links

pyright:
  name: pyright
  entry: uv run --no-sync --directory backend pyright
  language: system
  pass_filenames: false

backend-tests:
  name: backend-tests
  entry: uv run --no-sync --directory backend python -m pytest tests/ -v --tb=short -m 'not integration'
  language: system
  pass_filenames: false

frontend-prettier:
  name: frontend-prettier
  entry: bash -lc "npm --prefix frontend run format"
  language: system
  pass_filenames: false

frontend-eslint:
  name: frontend-eslint
  entry: bash -lc "npm --prefix frontend run lint:fix"
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend-tests
  entry: bash -lc "npm --prefix frontend test -- --run"
  language: system
  pass_filenames: false

check-markdown-local-links:
  name: check markdown local links (files exist)
  entry: python scripts/check_markdown_local_links.py
  language: python

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.16.0

remark-validate-links:
  name: remark (validate links/references)
  entry: remark
  language: node
  additional_dependencies:
  - remark-cli@12.0.1
  - remark-validate-links@13.0.1
  args:
  - --frail
  - --use
  - remark-validate-links

fix: resolve GitHub Actions workflow issues
  .github/workflows/release.yml
  .github/workflows/security.yml
  .gitleaks.toml
Due: none

fix: prevent duplicate CI and Security workflow runs on push and PR events
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

chore: add package-lock.json for reproducible builds
  package-lock.json
Due: none

fix: resolve remaining LessonPlayer test failures
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/TabBar.test.tsx
  frontend/src/components/progress/ProgressCard.test.tsx
  frontend/src/components/vocabulary/LessonCard.tsx
  frontend/src/components/vocabulary/LessonPlayer.test.tsx
  frontend/src/components/vocabulary/LessonPlayer.tsx
  frontend/vite.config.ts
Due: frontend-prettier, frontend-eslint, frontend-tests

fix: resolve npm audit vulnerabilities and TypeScript build errors
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/CostCalculator.tsx
  frontend/src/components/UserDisplay.tsx
  frontend/src/contexts/BackendErrorContext.tsx
  frontend/src/screens/GrammarScreen.tsx
  frontend/src/screens/VocabularyScreen.tsx
  frontend/src/services/api.ts
  frontend/src/test/conversationFlow.integration.test.tsx
  package-lock.json
Due: frontend-prettier, frontend-eslint, frontend-tests

#82: fix: make selectedLanguage and selectedDifficulty nullable
  frontend/src/App.tsx
Due: frontend-prettier, frontend-eslint, frontend-tests

#82: fix: resolve frontend lint errors
  frontend/src/components/progress/ProgressCard.tsx
  frontend/src/components/vocabulary/LessonPlayer.test.tsx
  frontend/src/utils/dateTime.test.ts
  frontend/tests/e2e_conversation.spec.ts
Due: frontend-prettier, frontend-eslint, frontend-tests

chore: ensure npm 11.8.0 compatibility and improve pre-commit test coverage
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .pre-commit-config.yaml
  QUICKSTART.md
  frontend/README.md
  frontend/package.json
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

#82: fix: remove unused type param from ProgressCard destructuring
  frontend/src/components/progress/ProgressCard.tsx
Due: frontend-prettier, frontend-eslint, frontend-tests

#82: chore: add .gitleaksignore for false positives
  .gitleaksignore
Due: none

#82: fix: resolve all 16 ESLint warnings
  frontend/src/components/ConversationInterface.tsx
  frontend/src/components/vocabulary/LessonPlayer.tsx
  frontend/src/contexts/BackendErrorContext.tsx
  frontend/src/screens/VocabularyScreen.tsx
  frontend/src/services/vocabularyService.test.ts
  frontend/src/services/vocabularyService.ts
  frontend/src/test/conversationFlow.integration.test.tsx
  frontend/src/types/index.ts
  frontend/tests/e2e_conversation.spec.ts
Due: frontend-prettier, frontend-eslint, frontend-tests

Feature/dependabot merge 2026 01 26 (#107)
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
Due: none

#106: feat: add Docker containerization with hot-reload support
  .env.docker
  DOCKER.md
  backend/.dockerignore
  backend/Dockerfile
  backend/Dockerfile.dev
  docker-compose.dev.yml
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/Dockerfile.dev
  frontend/nginx.conf
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

#106: refactor: reorganize Docker files into docker/ directory
  CLAUDE.md
  README.md
  docker/.env.template
  docker/README.md
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

#106: refactor: use consistent babblr- prefix for all Docker resources
  .gitignore
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
Due: none

#106: fix: resolve Docker build and runtime issues (tested)
  backend/Dockerfile
  backend/Dockerfile.dev
  docker/README.md
  docker/docker-compose.base.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  frontend/Dockerfile.dev
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

#106: fix: make STT GPU and container options reliable
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/app/config.py
  backend/app/routes/stt.py
  backend/app/routes/user_levels.py
  backend/app/services/whisper_service.py
  backend/docker-entrypoint.sh
  docker/.env.template
  docker/GPU.md
  docker/README.md
  docker/WHISPER.md
  docker/docker-compose.dev.yml
  docker/docker-compose.gpu.yml
  docker/docker-compose.whisper.yml
  docker/docker-compose.yml
  frontend/src/components/Settings.css
  frontend/src/components/Settings.tsx
  frontend/src/services/api.ts
Due: pyright, backend-tests, frontend-prettier, frontend-eslint, frontend-tests, check-markdown-local-links, markdownlint-cli2, remark-validate-links

#106: docs: add Docker validation section and deployment modes
  VALIDATION.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

#106: chore: replace print statements with logging and enable T201 ruff check
  DEVELOPMENT.md
  backend/app/scripts/test_prompt_system.py
  backend/check_cuda.py
  backend/check_timestamps.py
  backend/pyproject.toml
  backend/test_backend.py
  backend/tests/manual_api_check.py
  backend/tests/manual_speech_services_test.py
  backend/tests/test_initial_message_endpoint.py
  backend/tests/test_llm_providers_validation.py
Due: pyright, backend-tests, check-markdown-local-links, markdownlint-cli2, remark-validate-links

#106: refactor: implement replaceable STT service architecture with GPU support
  README.md
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/app/config.py
  backend/app/dependencies.py
  backend/app/main.py
  backend/app/routes/stt.py
  backend/app/services/stt/__init__.py
  backend/app/services/stt/base.py
  backend/app/services/stt/external_whisper.py
  backend/app/services/stt/factory.py
  backend/app/services/stt/local_whisper.py
  backend/app/services/stt/mock_whisper.py
  backend/app/services/whisper_service.py
  backend/tests/test_unit.py
  docker/.env.template
  docker/README.md
  docker/WHISPER.md
  docker/WHISPER_STT_VALIDATION.md
  docker/docker-compose.dev.yml
  docker/test_whisper_container.py
Due: pyright, backend-tests, check-markdown-local-links, markdownlint-cli2, remark-validate-links

#106: fix: enable GPU support for Whisper STT in docker-compose stack
  docker/docker-compose.dev.yml
Due: none

#106: feat: add comprehensive performance instrumentation
  backend/app/main.py
  backend/app/routes/chat.py
  backend/app/routes/stt.py
  backend/app/utils/__init__.py
  backend/app/utils/performance.py
  frontend/src/services/api.ts
  frontend/src/utils/performance.ts
Due: pyright, backend-tests, frontend-prettier, frontend-eslint, frontend-tests

#106: perf: optimize chat response time with configurable corrections and smaller model
  backend/app/config.py
  docker/.env.template
  docker/docker-compose.dev.yml
Due: pyright, backend-tests

#106: docs: add comprehensive performance documentation
  docs/performance/DEBUGGING.md
  docs/performance/INSTRUMENTATION.md
  docs/performance/README.md
  docs/performance/STREAMING.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

#106: test: add manual performance test script
  backend/tests/manual/README.md
  backend/tests/manual/test_performance.ps1
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

#106: test: add comprehensive unit tests for STT factory and performance utilities
  backend/app/main.py
  backend/app/routes/chat.py
  backend/app/routes/stt.py
  backend/app/services/stt/factory.py
  backend/app/services/stt/local_whisper.py
  backend/app/services/whisper_service.py
  backend/app/utils/performance.py
  backend/tests/test_performance.py
  backend/tests/test_stt_factory.py
Due: pyright, backend-tests

#106: chore: add frontend npm audit to pre-commit and document in CLAUDE
  .pre-commit-config.yaml
  CLAUDE.md
  frontend/package-lock.json
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

fix: fix unit tests - add STT service fixture, update health endpoint, fix TranscriptionResult imports
  .pre-commit-config.yaml
  backend/app/main.py
  backend/app/services/stt/mock_whisper.py
  backend/app/services/whisper_service.py
  backend/pyproject.toml
  backend/tests/README.md
  backend/tests/conftest.py
  backend/tests/test_api_endpoints.py
  backend/tests/test_speech_services_validation.py
  databricks/notebooks/03_gold_layer.ipynb
  docker/WHISPER.md
  docker/WHISPER_STT_VALIDATION.md
  frontend/src/services/api.ts
  frontend/src/services/grammarService.test.ts
  frontend/src/utils/performance.ts
Due: pyright, backend-tests, frontend-prettier, frontend-eslint, frontend-tests, check-markdown-local-links, markdownlint-cli2, remark-validate-links

fix: fix integration tests - use async_client instead of TestClient
  backend/tests/test_initial_message_endpoint.py
  backend/tests/test_initial_message_integration.py
Due: backend-tests

fix: fix frontend TypeScript errors and markdown link
  docker/README.md
  frontend/src/services/api.ts
  frontend/src/vite-env.d.ts
Due: frontend-prettier, frontend-eslint, frontend-tests, check-markdown-local-links, markdownlint-cli2, remark-validate-links

ci: add 15-minute timeout to backend unit tests job
  .github/workflows/ci.yml
Due: none

ci: increase pytest verbosity for better debugging
  .github/actions/run-backend-tests/action.yml
  .github/workflows/ci.yml
Due: none

#106: fix: simplify CI unit tests - single Python version, sequential execution
  .github/actions/run-backend-tests/action.yml
  .github/workflows/ci.yml
Due: none

#106: fix: use literal Python version in job name (env context not available)
  .github/workflows/ci.yml
Due: none

#106: fix: address CodeQL security alerts - sanitize log input, clarify false positives
  backend/app/routes/chat.py
  backend/app/services/stt/base.py
  backend/tests/test_performance.py
Due: pyright, backend-tests

Path conditions:
  pyright: any of: ^backend/app/ and \.py$
  backend-tests: any of: ^backend/ and \.py$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  frontend-tests: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  check-markdown-local-links: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.md$ and \.(md|markdown|mdown)$
  remark-validate-links: any of: \.md$ and \.(md|markdown|mdown)$
