Repository pkuppens/babblr: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, backend-tests, frontend-prettier, frontend-eslint, frontend-tests, check-markdown-local-links, markdownlint-cli2, remark-validate-links

pyright:
  name: pyright
  entry: uv run --no-sync --directory backend pyright
  language: system
  pass_filenames: false

backend-tests:
  name: backend-tests
  entry: uv run --no-sync --directory backend python -m pytest tests/ -v --tb=short -m 'not integration'
  language: system
  pass_filenames: false

frontend-prettier:
  name: frontend-prettier
  entry: bash -lc "npm --prefix frontend run format"
  language: system
  pass_filenames: false

frontend-eslint:
  name: frontend-eslint
  entry: bash -lc "npm --prefix frontend run lint:fix"
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend-tests
  entry: bash -lc "npm --prefix frontend test -- --run"
  language: system
  pass_filenames: false

check-markdown-local-links:
  name: check markdown local links (files exist)
  entry: python scripts/check_markdown_local_links.py
  language: python

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.16.0

remark-validate-links:
  name: remark (validate links/references)
  entry: remark
  language: node
  additional_dependencies:
  - remark-cli@12.0.1
  - remark-validate-links@13.0.1
  args:
  - --frail
  - --use
  - remark-validate-links

chore: align setup-node action and CI docs with v5
  .github/actions/setup-node/action.yml
  docs/ci/CACHING_STRATEGY.md
  docs/ci/CI_PIPELINE.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

feat: add Kubernetes manifests (k8s/) with independent STT scaling + GPU overlay
  k8s/README.md
  k8s/base/backend.yaml
  k8s/base/configmap.yaml
  k8s/base/frontend.yaml
  k8s/base/ingress.yaml
  k8s/base/kustomization.yaml
  k8s/base/namespace.yaml
  k8s/base/ollama.yaml
  k8s/base/postgres.yaml
  k8s/base/secret.yaml
  k8s/base/whisper.yaml
  k8s/overlays/gpu/kustomization.yaml
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

fix(ci): manual Dependabot merges; Python 3.12-3.14 lint, Node 24/26
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
  backend/pyproject.toml
Due: none

fix(ci): use literal job name (env not allowed in job name)
  .github/workflows/ci.yml
Due: none

docs(ci): clarify release Python vs lint matrix
  .github/workflows/ci.yml
Due: none

fix(ci): hardcode lint matrix (env not valid in matrix fromJSON)
  .github/workflows/ci.yml
Due: none

docs(k8s): expand README for Kubernetes newcomers
  k8s/README.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

feat: Kubernetes manifests for babblr (independent STT scaling + GPU overlay) (#217)
  k8s/README.md
  k8s/base/backend.yaml
  k8s/base/configmap.yaml
  k8s/base/frontend.yaml
  k8s/base/ingress.yaml
  k8s/base/kustomization.yaml
  k8s/base/namespace.yaml
  k8s/base/ollama.yaml
  k8s/base/postgres.yaml
  k8s/base/secret.yaml
  k8s/base/whisper.yaml
  k8s/overlays/gpu/kustomization.yaml
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

fix: resolve form-data CRLF injection vulnerability (GHSA-hmw2-7cc7-3qxx)
  frontend/package-lock.json
Due: none

fix: explicitly declare @testing-library/dom devDependency
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: resolve form-data CRLF injection vulnerability (GHSA-hmw2-7cc7-3qxx)
  frontend/package-lock.json
  frontend/package.json
Due: none

#234: docs: document Understand-Anything codebase analysis tool
  .gitignore
  CLAUDE.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

docs: document Understand-Anything codebase analysis tool (#235)
  .gitignore
  CLAUDE.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

#234: docs: rewrite README from current codebase and PRD
  .gitignore
  .markdownlint-cli2.yaml
  README.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

#234: docs: rewrite README from current codebase and PRD (#248)
  .gitignore
  .markdownlint-cli2.yaml
  README.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

fix(frontend): pin typescript to 6.0.3, @typescript-eslint has no TS7 support yet
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(ci): reformat markdown code fences with ruff, block typescript major bumps
  .github/dependabot.yml
  backend/ADAPTIVE_PROMPTS.md
  backend/IMPLEMENTATION_SUMMARY.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

fix(ci): reformat markdown code fences with ruff, block typescript major bumps (#263)
  .github/dependabot.yml
  backend/ADAPTIVE_PROMPTS.md
  backend/IMPLEMENTATION_SUMMARY.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

#255: feat: add LLM-as-judge, prompt variants, and batch runner for vocab-eval harness
  backend/experiments/__init__.py
  backend/experiments/vocab_eval/__init__.py
  backend/experiments/vocab_eval/batch.py
  backend/experiments/vocab_eval/generate.py
  backend/experiments/vocab_eval/judge.py
  backend/experiments/vocab_eval/prompt_templates/default.txt
  backend/experiments/vocab_eval/prompt_templates/variant_a.txt
  backend/experiments/vocab_eval/prompt_templates/variant_b.txt
  backend/experiments/vocab_eval/prompts.py
  backend/experiments/vocab_eval/student.py
  backend/experiments/vocab_eval/transcript.py
  backend/tests/test_config_credentials.py
  backend/tests/vocab_eval/__init__.py
  backend/tests/vocab_eval/test_batch.py
  backend/tests/vocab_eval/test_generate.py
  backend/tests/vocab_eval/test_judge.py
  backend/tests/vocab_eval/test_prompts.py
  backend/tests/vocab_eval/test_student.py
  backend/tests/vocab_eval/test_transcript.py
Due: backend-tests

#255: fix: sort vocab_eval test imports, fix isort first-party detection
  backend/pyproject.toml
  backend/tests/vocab_eval/test_batch.py
  backend/tests/vocab_eval/test_generate.py
  backend/tests/vocab_eval/test_judge.py
  backend/tests/vocab_eval/test_prompts.py
Due: backend-tests

#255: docs: add domain glossary for vocab-eval research
  CONTEXT.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

#255: docs: address PR #268 review feedback on vocab_eval package docs
  backend/experiments/vocab_eval/prompt_templates/README.md
  backend/experiments/vocab_eval/prompt_templates/REPORT.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

#255: docs: add purpose/exports docstrings to vocab_eval __init__.py files
  backend/experiments/vocab_eval/__init__.py
  backend/tests/vocab_eval/__init__.py
Due: backend-tests

#255: docs: populate vocab-eval REPORT.md with a real judged run
  backend/experiments/vocab_eval/prompt_templates/REPORT.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

#255: Vocab-eval research harness: judge, prompt variants, batch runner (#268)
  CONTEXT.md
  backend/experiments/__init__.py
  backend/experiments/vocab_eval/__init__.py
  backend/experiments/vocab_eval/batch.py
  backend/experiments/vocab_eval/generate.py
  backend/experiments/vocab_eval/judge.py
  backend/experiments/vocab_eval/prompt_templates/README.md
  backend/experiments/vocab_eval/prompt_templates/REPORT.md
  backend/experiments/vocab_eval/prompt_templates/default.txt
  backend/experiments/vocab_eval/prompt_templates/variant_a.txt
  backend/experiments/vocab_eval/prompt_templates/variant_b.txt
  backend/experiments/vocab_eval/prompts.py
  backend/experiments/vocab_eval/student.py
  backend/experiments/vocab_eval/transcript.py
  backend/pyproject.toml
  backend/tests/test_config_credentials.py
  backend/tests/vocab_eval/__init__.py
  backend/tests/vocab_eval/test_batch.py
  backend/tests/vocab_eval/test_generate.py
  backend/tests/vocab_eval/test_judge.py
  backend/tests/vocab_eval/test_prompts.py
  backend/tests/vocab_eval/test_student.py
  backend/tests/vocab_eval/test_transcript.py
Due: backend-tests, check-markdown-local-links, markdownlint-cli2, remark-validate-links

#254: chore: configure Matt Pocock agent-skills setup
  CLAUDE.md
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

#254: docs: clarify agent-skill doc loading and fix branch-check example
  CLAUDE.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

#305: docs: require ASD-STE100 Simplified Technical English
  CLAUDE.md
  CONTRIBUTING.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

#305: docs: restructure CLAUDE.md into an index with docs/agents/ guides
  CLAUDE.md
  CONTRIBUTING.md
  docs/README.md
  docs/agents/README.md
  docs/agents/architecture.md
  docs/agents/ci-cd.md
  docs/agents/commands.md
  docs/agents/understand-anything.md
  docs/agents/writing-style.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

#304: fix: use the jest-dom Vitest entry point for matcher types
  frontend/src/test/setup.ts
  frontend/tsconfig.json
Due: frontend-prettier, frontend-eslint, frontend-tests

#316: fix: require sqlalchemy[asyncio] and fix pyright narrowing in grammar recaps
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/security.yml
  .gitignore
  backend/app/routes/grammar.py
  backend/pyproject.toml
  backend/uv.lock
  docs/agents/ci-cd.md
Due: pyright, backend-tests, check-markdown-local-links, markdownlint-cli2, remark-validate-links

Path conditions:
  pyright: any of: ^backend/app/ and \.py$
  backend-tests: any of: ^backend/ and \.py$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  frontend-tests: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  check-markdown-local-links: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.md$ and \.(md|markdown|mdown)$
  remark-validate-links: any of: \.md$ and \.(md|markdown|mdown)$
