Repository pkuppens/babblr: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, backend-tests, frontend-prettier, frontend-eslint, frontend-tests, check-markdown-local-links, markdownlint-cli2, remark-validate-links

.pre-commit-config.yaml:

repos:
  # Prevent direct commits to main branch
  - repo: local
    hooks:
      - id: no-commit-to-main
        name: no-commit-to-main
        entry: bash scripts/no-commit-to-main.sh
        language: system
        always_run: true
        pass_filenames: false
        stages: [pre-commit]

  # Basic safety checks (including unresolved merge conflict markers)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict

  # Secret scanning - detect API keys, passwords, tokens before commit
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      # Run format first - abort on failure
      - id: ruff-format
        args: ["--config", "backend/pyproject.toml"]
        files: ^(backend|examples)/
      # Run check with --fix - applies fixes then aborts so fixes can be committed
      - id: ruff
        args: ["--fix", "--config", "backend/pyproject.toml"]
        files: ^(backend|examples)/

  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: uv run --no-sync --directory backend pyright
        language: system
        types: [python]
        files: ^backend/app/
        pass_filenames: false

      - id: backend-tests
        name: backend-tests
        entry: uv run --no-sync --directory backend python -m pytest tests/ -v --tb=short -m 'not integration'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # Frontend formatting/linting (TypeScript/React)
  - repo: local
    hooks:
      # Run prettier first - abort on failure
      - id: frontend-prettier
        name: frontend-prettier
        entry: bash -lc "npm --prefix frontend run format"
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css)$
        pass_filenames: false

      # Run eslint with --fix - applies fixes then aborts so fixes can be committed
      - id: frontend-eslint
        name: frontend-eslint
        entry: bash -lc "npm --prefix frontend run lint:fix"
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      # Run tests only after formatting and linting pass
      - id: frontend-tests
        name: frontend-tests
        entry: bash -lc "npm --prefix frontend test -- --run"
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

  # Markdown checks (lint + broken internal links/anchors)
  - repo: local
    hooks:
      - id: check-markdown-local-links
        name: check markdown local links (files exist)
        entry: python scripts/check_markdown_local_links.py
        language: python
        types: [markdown]

      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: markdownlint-cli2
        language: node
        additional_dependencies:
          - markdownlint-cli2@0.16.0
        types: [markdown]
        files: \.md$

      - id: remark-validate-links
        name: remark (validate links/references)
        entry: remark
        language: node
        additional_dependencies:
          - remark-cli@12.0.1
          - remark-validate-links@13.0.1
        args: ["--frail", "--use", "remark-validate-links"]
        types: [markdown]
        files: \.md$

  # Clean Jupyter notebooks (remove outputs, execution counts, metadata)
  - repo: https://github.com/srstevenson/nb-clean
    rev: 4.0.1
    hooks:
      - id: nb-clean
        args:
          - --remove-empty-cells
          - --preserve-cell-metadata
          - tags
          - slideshow
          - --
        files: \.ipynb$

#41: test: add comprehensive validation tests for API endpoints and LLM providers
  backend/tests/conftest.py
  backend/tests/test_api_endpoints.py
  backend/tests/test_llm_providers_validation.py
Due: backend-tests

#41: test: add speech services and frontend E2E validation
  backend/tests/MANUAL_FRONTEND_TESTS.md
  backend/tests/manual_speech_services_test.py
  backend/tests/test_speech_services_validation.py
  frontend/tests/e2e_conversation.spec.ts
Due: backend-tests, check-markdown-local-links, markdownlint-cli2, remark-validate-links

#41: docs: refactor validation documentation to include E2E manual tests
  VALIDATION.md
  backend/tests/MANUAL_FRONTEND_TESTS.md
  backend/tests/manual_speech_services_test.py
Due: backend-tests, check-markdown-local-links, markdownlint-cli2, remark-validate-links

#62: feat: implement vocabulary API service with TypeScript types
  frontend/src/services/vocabularyService.ts
  frontend/src/types/index.ts
Due: frontend-prettier, frontend-eslint, frontend-tests

#62: feat: implement vocabulary lesson list and card components
  frontend/src/components/vocabulary/LessonCard.css
  frontend/src/components/vocabulary/LessonCard.tsx
  frontend/src/components/vocabulary/LessonList.css
  frontend/src/components/vocabulary/LessonList.tsx
Due: frontend-prettier, frontend-eslint, frontend-tests

#62: feat: implement vocabulary lesson player with flashcard interface
  frontend/src/components/vocabulary/LessonPlayer.css
  frontend/src/components/vocabulary/LessonPlayer.tsx
  frontend/src/components/vocabulary/VocabularyCard.css
  frontend/src/components/vocabulary/VocabularyCard.tsx
Due: frontend-prettier, frontend-eslint, frontend-tests

#62: test: add comprehensive unit tests for vocabulary components and service
  frontend/src/components/vocabulary/LessonCard.test.tsx
  frontend/src/components/vocabulary/LessonList.test.tsx
  frontend/src/components/vocabulary/LessonPlayer.test.tsx
  frontend/src/services/vocabularyService.test.ts
Due: frontend-prettier, frontend-eslint, frontend-tests

#62: feat: integrate vocabulary components into VocabularyScreen
  frontend/src/App.tsx
  frontend/src/screens/VocabularyScreen.css
  frontend/src/screens/VocabularyScreen.tsx
Due: frontend-prettier, frontend-eslint, frontend-tests

fix: use timezone-aware UTC datetimes throughout application
  backend/app/models/models.py
  frontend/src/utils/dateTime.ts
Due: pyright, backend-tests, frontend-prettier, frontend-eslint, frontend-tests

fix: comprehensive timezone handling fix with database migration and tests
  backend/app/database/db.py
  backend/tests/test_timezone_handling.py
  docs/README.md
  docs/adr/0001-timezone-handling.md
  frontend/src/utils/dateTime.test.ts
Due: pyright, backend-tests, frontend-prettier, frontend-eslint, frontend-tests, check-markdown-local-links, markdownlint-cli2, remark-validate-links

feat: improve conversation input handling for text and speech
  frontend/src/components/ConversationInterface.css
  frontend/src/components/ConversationInterface.tsx
Due: frontend-prettier, frontend-eslint, frontend-tests

style: improve back button contrast and remove default border
  frontend/src/components/ConversationInterface.css
Due: frontend-prettier

chore: ADR-0001: utcnow->now(timezone.utc)
  .github/workflows/python-ci.yml
  .pre-commit-config.yaml
  backend/app/database/db.py
  backend/app/models/models.py
  backend/app/routes/assessments.py
  backend/app/routes/chat.py
  backend/app/routes/grammar.py
  backend/app/routes/user_levels.py
  backend/app/routes/vocabulary.py
  backend/app/scripts/seed_vocabulary_lessons.py
  backend/check_timestamps.py
  backend/tests/grammar/test_models.py
  backend/tests/grammar/test_spaced_rep.py
  backend/tests/test_grammar_lessons.py
  backend/tests/test_initial_message_integration.py
  backend/tests/test_progress.py
  backend/tests/test_timezone_handling.py
  backend/tests/test_unit.py
Due: pyright, backend-tests

feat: implement vocabulary lessons UI with flashcard interface (#62)
  backend/app/models/models.py
  backend/app/models/schemas.py
  backend/app/routes/tts.py
  backend/app/routes/vocabulary.py
  backend/app/scripts/migrate_add_lesson_fields.py
  backend/app/scripts/seed_vocabulary_lessons.py
  backend/app/services/tts_service.py
  backend/check_cuda.py
  frontend/src/App.tsx
  frontend/src/components/TabBar.tsx
  frontend/src/components/vocabulary/LessonCard.css
  frontend/src/components/vocabulary/LessonCard.tsx
  frontend/src/components/vocabulary/LessonPlayer.css
  frontend/src/components/vocabulary/LessonPlayer.tsx
  frontend/src/components/vocabulary/VocabularyCard.css
  frontend/src/components/vocabulary/VocabularyCard.tsx
  frontend/src/screens/VocabularyScreen.css
  frontend/src/screens/VocabularyScreen.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  frontend/src/utils/uiTranslations.ts
Due: pyright, backend-tests, frontend-prettier, frontend-eslint, frontend-tests

#62: fix: resolve pyright type checking errors in vocabulary.py
  .pre-commit-config.yaml
  backend/app/routes/vocabulary.py
Due: pyright, backend-tests

#62: config: suppress SQLAlchemy ORM false positives in pyright
  backend/pyproject.toml
Due: none

chore: reformat databricks notebook to reduce pyright warnings
  databricks/notebooks/03_gold_layer.ipynb
Due: none

#67: feat: add roleplay context to topic-based conversations
  backend/app/routes/chat.py
  backend/app/services/conversation_service.py
  backend/app/static/topics.json
Due: pyright, backend-tests

#67: feat: implement modular prompt architecture with 90% coverage principle
  backend/app/routes/chat.py
  backend/app/services/conversation_service.py
  backend/app/services/modular_prompt_builder.py
  backend/templates/prompt_components/base_tutor.json
  backend/templates/prompt_components/levels/a1.json
  backend/templates/prompt_components/levels/a2.json
  backend/templates/prompt_components/levels/b1.json
  backend/templates/prompt_components/levels/b2.json
  backend/templates/prompt_components/levels/c1.json
  backend/templates/prompt_components/levels/c2.json
  backend/tests/test_initial_message_endpoint.py
  backend/tests/test_vocabulary_lessons.py
Due: pyright, backend-tests

#67: Implement modular prompt architecture with 90% coverage principle (#77)
  backend/app/routes/chat.py
  backend/app/services/conversation_service.py
  backend/app/services/modular_prompt_builder.py
  backend/app/static/topics.json
  backend/templates/prompt_components/base_tutor.json
  backend/templates/prompt_components/levels/a1.json
  backend/templates/prompt_components/levels/a2.json
  backend/templates/prompt_components/levels/b1.json
  backend/templates/prompt_components/levels/b2.json
  backend/templates/prompt_components/levels/c1.json
  backend/templates/prompt_components/levels/c2.json
  backend/tests/test_initial_message_endpoint.py
  backend/tests/test_vocabulary_lessons.py
Due: pyright, backend-tests

#68: feat: implement progress dashboard with vocabulary, grammar, and assessment tracking
  frontend/src/App.tsx
  frontend/src/components/TabBar.tsx
  frontend/src/components/progress/AssessmentCard.css
  frontend/src/components/progress/AssessmentCard.test.tsx
  frontend/src/components/progress/AssessmentCard.tsx
  frontend/src/components/progress/ProgressCard.css
  frontend/src/components/progress/ProgressCard.test.tsx
  frontend/src/components/progress/ProgressCard.tsx
  frontend/src/screens/ProgressScreen.css
  frontend/src/screens/ProgressScreen.test.tsx
  frontend/src/screens/ProgressScreen.tsx
  frontend/src/services/progressService.test.ts
  frontend/src/services/progressService.ts
  frontend/src/types/index.ts
  frontend/src/utils/language.ts
  frontend/src/utils/uiTranslations.ts
Due: frontend-prettier, frontend-eslint, frontend-tests

#80: feat: implement secure credential storage with OS-level encryption
  backend/.env.example
  backend/app/config.py
  backend/app/main.py
  backend/app/routes/credentials.py
  backend/app/services/llm/factory.py
  frontend/electron/credentialStorage.cjs
  frontend/electron/main.cjs
  frontend/electron/preload.cjs
  frontend/src/App.tsx
  frontend/src/components/CredentialManagement.tsx
  frontend/src/components/Settings.css
  frontend/src/components/Settings.tsx
  frontend/src/services/credentialService.ts
  frontend/src/types/electron.d.ts
Due: pyright, backend-tests, frontend-prettier, frontend-eslint, frontend-tests

#80: feat: add credential test suite and cost calculator UI
  backend/tests/test_config_credentials.py
  backend/tests/test_credentials.py
  backend/tests/test_credentials_api.py
  backend/tests/test_llm_factory_credentials.py
  frontend/src/components/CostCalculator.tsx
  frontend/src/components/Settings.css
  frontend/src/components/Settings.tsx
Due: backend-tests, frontend-prettier, frontend-eslint, frontend-tests

#80: feat: add OpenAI support, update models, and improve credential management
  backend/app/config.py
  backend/app/main.py
  backend/app/routes/credentials.py
  backend/tests/test_config_credentials.py
  backend/tests/test_credentials.py
  backend/tests/test_credentials_api.py
  backend/tests/test_llm_factory_credentials.py
  frontend/electron/credentialStorage.cjs
  frontend/electron/main.cjs
  frontend/electron/preload.cjs
  frontend/src/App.tsx
  frontend/src/components/CostCalculator.tsx
  frontend/src/components/CredentialManagement.tsx
  frontend/src/components/ModelCombobox.tsx
  frontend/src/components/Settings.css
  frontend/src/components/Settings.tsx
  frontend/src/services/credentialService.ts
  frontend/src/services/settings.ts
  frontend/src/types/electron.d.ts
Due: pyright, backend-tests, frontend-prettier, frontend-eslint, frontend-tests

#80: fix: prevent API key corruption when toggling visibility
  frontend/src/components/Settings.tsx
  frontend/src/components/TabBar.tsx
  frontend/src/components/progress/AssessmentCard.test.tsx
  frontend/src/components/vocabulary/LessonCard.test.tsx
  frontend/src/components/vocabulary/LessonCard.tsx
  frontend/src/components/vocabulary/LessonList.test.tsx
  frontend/src/components/vocabulary/LessonPlayer.test.tsx
  frontend/src/components/vocabulary/LessonPlayer.tsx
  frontend/src/components/vocabulary/VocabularyCard.tsx
  frontend/src/screens/ProgressScreen.test.tsx
  frontend/src/screens/VocabularyScreen.tsx
  frontend/src/utils/dateTime.ts
  frontend/tests/e2e_conversation.spec.ts
Due: frontend-prettier, frontend-eslint, frontend-tests

#82: fix: resolve frontend lint errors
  frontend/src/components/progress/ProgressCard.tsx
  frontend/src/components/vocabulary/LessonPlayer.test.tsx
  frontend/src/utils/dateTime.test.ts
  frontend/tests/e2e_conversation.spec.ts
Due: frontend-prettier, frontend-eslint, frontend-tests

#82: fix: resolve all 16 ESLint warnings
  frontend/src/components/ConversationInterface.tsx
  frontend/src/components/vocabulary/LessonPlayer.tsx
  frontend/src/contexts/BackendErrorContext.tsx
  frontend/src/screens/VocabularyScreen.tsx
  frontend/src/services/vocabularyService.test.ts
  frontend/src/services/vocabularyService.ts
  frontend/src/test/conversationFlow.integration.test.tsx
  frontend/src/types/index.ts
  frontend/tests/e2e_conversation.spec.ts
Due: frontend-prettier, frontend-eslint, frontend-tests

#82: fix: remove unused type param from ProgressCard destructuring
  frontend/src/components/progress/ProgressCard.tsx
Due: frontend-prettier, frontend-eslint, frontend-tests

#82: chore: add .gitleaksignore for false positives
  .gitleaksignore
Due: none

chore: add package-lock.json for reproducible builds
  package-lock.json
Due: none

#82: fix: make selectedLanguage and selectedDifficulty nullable
  frontend/src/App.tsx
Due: frontend-prettier, frontend-eslint, frontend-tests

fix: resolve remaining LessonPlayer test failures
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/TabBar.test.tsx
  frontend/src/components/progress/ProgressCard.test.tsx
  frontend/src/components/vocabulary/LessonCard.tsx
  frontend/src/components/vocabulary/LessonPlayer.test.tsx
  frontend/src/components/vocabulary/LessonPlayer.tsx
  frontend/vite.config.ts
Due: frontend-prettier, frontend-eslint, frontend-tests

chore: ensure npm 11.8.0 compatibility and improve pre-commit test coverage
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .pre-commit-config.yaml
  QUICKSTART.md
  frontend/README.md
  frontend/package.json
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

fix: resolve npm audit vulnerabilities and TypeScript build errors
  .github/workflows/ci.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/CostCalculator.tsx
  frontend/src/components/UserDisplay.tsx
  frontend/src/contexts/BackendErrorContext.tsx
  frontend/src/screens/GrammarScreen.tsx
  frontend/src/screens/VocabularyScreen.tsx
  frontend/src/services/api.ts
  frontend/src/test/conversationFlow.integration.test.tsx
  package-lock.json
Due: frontend-prettier, frontend-eslint, frontend-tests
