Repository pkuppens/babblr: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, backend-tests, frontend-prettier, frontend-eslint, frontend-tests, check-markdown-local-links, markdownlint-cli2, remark-validate-links

.pre-commit-config.yaml:

repos:
  # Prevent direct commits to main branch
  - repo: local
    hooks:
      - id: no-commit-to-main
        name: no-commit-to-main
        entry: bash scripts/no-commit-to-main.sh
        language: system
        always_run: true
        pass_filenames: false
        stages: [pre-commit]

  # Basic safety checks (including unresolved merge conflict markers)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict

  # Secret scanning - detect API keys, passwords, tokens before commit
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      # Run format first - abort on failure
      - id: ruff-format
        args: ["--config", "backend/pyproject.toml"]
        files: ^(backend|examples)/
      # Run check with --fix - applies fixes then aborts so fixes can be committed
      - id: ruff
        args: ["--fix", "--config", "backend/pyproject.toml"]
        files: ^(backend|examples)/

  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: uv run --no-sync --directory backend pyright
        language: system
        types: [python]
        files: ^backend/app/
        pass_filenames: false

      - id: backend-tests
        name: backend-tests
        entry: uv run --no-sync --directory backend python -m pytest tests/ -v --tb=short -m 'not integration'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # Frontend formatting/linting (TypeScript/React)
  - repo: local
    hooks:
      # Run prettier first - abort on failure
      - id: frontend-prettier
        name: frontend-prettier
        entry: bash -lc "npm --prefix frontend run format"
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css)$
        pass_filenames: false

      # Run eslint with --fix - applies fixes then aborts so fixes can be committed
      - id: frontend-eslint
        name: frontend-eslint
        entry: bash -lc "npm --prefix frontend run lint:fix"
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      # Run tests only after formatting and linting pass
      - id: frontend-tests
        name: frontend-tests
        entry: bash -lc "npm --prefix frontend test -- --run"
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

  # Markdown checks (lint + broken internal links/anchors)
  - repo: local
    hooks:
      - id: check-markdown-local-links
        name: check markdown local links (files exist)
        entry: python scripts/check_markdown_local_links.py
        language: python
        types: [markdown]

      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: markdownlint-cli2
        language: node
        additional_dependencies:
          - markdownlint-cli2@0.16.0
        types: [markdown]
        files: \.md$

      - id: remark-validate-links
        name: remark (validate links/references)
        entry: remark
        language: node
        additional_dependencies:
          - remark-cli@12.0.1
          - remark-validate-links@13.0.1
        args: ["--frail", "--use", "remark-validate-links"]
        types: [markdown]
        files: \.md$

  # Clean Jupyter notebooks (remove outputs, execution counts, metadata)
  - repo: https://github.com/srstevenson/nb-clean
    rev: 4.0.1
    hooks:
      - id: nb-clean
        args:
          - --remove-empty-cells
          - --preserve-cell-metadata
          - tags
          - slideshow
          - --
        files: \.ipynb$

#106: feat: add comprehensive performance instrumentation
  backend/app/main.py
  backend/app/routes/chat.py
  backend/app/routes/stt.py
  backend/app/utils/__init__.py
  backend/app/utils/performance.py
  frontend/src/services/api.ts
  frontend/src/utils/performance.ts
Due: pyright, backend-tests, frontend-prettier, frontend-eslint, frontend-tests

fix: fix frontend TypeScript errors and markdown link
  docker/README.md
  frontend/src/services/api.ts
  frontend/src/vite-env.d.ts
Due: frontend-prettier, frontend-eslint, frontend-tests, check-markdown-local-links, markdownlint-cli2, remark-validate-links

#106: refactor: use consistent babblr- prefix for all Docker resources
  .gitignore
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
Due: none

fix: fix unit tests - add STT service fixture, update health endpoint, fix TranscriptionResult imports
  .pre-commit-config.yaml
  backend/app/main.py
  backend/app/services/stt/mock_whisper.py
  backend/app/services/whisper_service.py
  backend/pyproject.toml
  backend/tests/README.md
  backend/tests/conftest.py
  backend/tests/test_api_endpoints.py
  backend/tests/test_speech_services_validation.py
  databricks/notebooks/03_gold_layer.ipynb
  docker/WHISPER.md
  docker/WHISPER_STT_VALIDATION.md
  frontend/src/services/api.ts
  frontend/src/services/grammarService.test.ts
  frontend/src/utils/performance.ts
Due: pyright, backend-tests, frontend-prettier, frontend-eslint, frontend-tests, check-markdown-local-links, markdownlint-cli2, remark-validate-links

#106: chore: replace print statements with logging and enable T201 ruff check
  DEVELOPMENT.md
  backend/app/scripts/test_prompt_system.py
  backend/check_cuda.py
  backend/check_timestamps.py
  backend/pyproject.toml
  backend/test_backend.py
  backend/tests/manual_api_check.py
  backend/tests/manual_speech_services_test.py
  backend/tests/test_initial_message_endpoint.py
  backend/tests/test_llm_providers_validation.py
Due: pyright, backend-tests, check-markdown-local-links, markdownlint-cli2, remark-validate-links

#106: refactor: implement replaceable STT service architecture with GPU support
  README.md
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/app/config.py
  backend/app/dependencies.py
  backend/app/main.py
  backend/app/routes/stt.py
  backend/app/services/stt/__init__.py
  backend/app/services/stt/base.py
  backend/app/services/stt/external_whisper.py
  backend/app/services/stt/factory.py
  backend/app/services/stt/local_whisper.py
  backend/app/services/stt/mock_whisper.py
  backend/app/services/whisper_service.py
  backend/tests/test_unit.py
  docker/.env.template
  docker/README.md
  docker/WHISPER.md
  docker/WHISPER_STT_VALIDATION.md
  docker/docker-compose.dev.yml
  docker/test_whisper_container.py
Due: pyright, backend-tests, check-markdown-local-links, markdownlint-cli2, remark-validate-links

#106: fix: address CodeQL security alerts - sanitize log input, clarify false positives
  backend/app/routes/chat.py
  backend/app/services/stt/base.py
  backend/tests/test_performance.py
Due: pyright, backend-tests

fix: fix integration tests - use async_client instead of TestClient
  backend/tests/test_initial_message_endpoint.py
  backend/tests/test_initial_message_integration.py
Due: backend-tests

#106: perf: optimize chat response time with configurable corrections and smaller model
  backend/app/config.py
  docker/.env.template
  docker/docker-compose.dev.yml
Due: pyright, backend-tests

#106: test: add comprehensive unit tests for STT factory and performance utilities
  backend/app/main.py
  backend/app/routes/chat.py
  backend/app/routes/stt.py
  backend/app/services/stt/factory.py
  backend/app/services/stt/local_whisper.py
  backend/app/services/whisper_service.py
  backend/app/utils/performance.py
  backend/tests/test_performance.py
  backend/tests/test_stt_factory.py
Due: pyright, backend-tests

#106: docs: add comprehensive performance documentation
  docs/performance/DEBUGGING.md
  docs/performance/INSTRUMENTATION.md
  docs/performance/README.md
  docs/performance/STREAMING.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

ci: add 15-minute timeout to backend unit tests job
  .github/workflows/ci.yml
Due: none

#106: fix: simplify CI unit tests - single Python version, sequential execution
  .github/actions/run-backend-tests/action.yml
  .github/workflows/ci.yml
Due: none

#106: fix: make STT GPU and container options reliable
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/app/config.py
  backend/app/routes/stt.py
  backend/app/routes/user_levels.py
  backend/app/services/whisper_service.py
  backend/docker-entrypoint.sh
  docker/.env.template
  docker/GPU.md
  docker/README.md
  docker/WHISPER.md
  docker/docker-compose.dev.yml
  docker/docker-compose.gpu.yml
  docker/docker-compose.whisper.yml
  docker/docker-compose.yml
  frontend/src/components/Settings.css
  frontend/src/components/Settings.tsx
  frontend/src/services/api.ts
Due: pyright, backend-tests, frontend-prettier, frontend-eslint, frontend-tests, check-markdown-local-links, markdownlint-cli2, remark-validate-links

#106: docs: add Docker validation section and deployment modes
  VALIDATION.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

#106: fix: resolve Docker build and runtime issues (tested)
  backend/Dockerfile
  backend/Dockerfile.dev
  docker/README.md
  docker/docker-compose.base.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  frontend/Dockerfile.dev
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

#106: chore: add frontend npm audit to pre-commit and document in CLAUDE
  .pre-commit-config.yaml
  CLAUDE.md
  frontend/package-lock.json
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

#106: test: add manual performance test script
  backend/tests/manual/README.md
  backend/tests/manual/test_performance.ps1
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

#106: fix: use literal Python version in job name (env context not available)
  .github/workflows/ci.yml
Due: none

#106: refactor: reorganize Docker files into docker/ directory
  CLAUDE.md
  README.md
  docker/.env.template
  docker/README.md
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

docs: add comprehensive branch lifecycle management guidelines
  POLICIES.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

docs: add comprehensive branch lifecycle management guidelines (#123)
  POLICIES.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

Add comprehensive Product Requirements Document (#125)
  PRODUCT_REQUIREMENTS.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

chore: dependency updates review and management (Feb 2026)
  .github/dependabot.yml
  CHANGELOG.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

chore(deps): optimize dependabot configuration with grouping strategy
  .github/dependabot.yml
Due: none

deps(frontend): weekly dependency review - Feb 2, 2026
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): simplify to one PR per ecosystem weekly (Option D)
  .github/dependabot.yml
Due: none

deps-dev(frontend): update electron to 40.1.0
  frontend/package-lock.json
  frontend/package.json
Due: none

deps-dev(frontend): update @vitejs/plugin-react to 5.1.3
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: correct broken markdown links in PRD template
  docs/prd/07-business/intellectual-property.md
  docs/prd/TEMPLATE.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

fix: correct broken markdown links in PRD template (#145)
  docs/prd/07-business/intellectual-property.md
  docs/prd/TEMPLATE.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

chore: add Windows NUL to .gitignore and fix npm audit vulnerability
  .gitignore
  frontend/package-lock.json
Due: none

fix: correct mock targets and return types in chat endpoint tests
  backend/tests/test_api_endpoints.py
Due: backend-tests

fix: correct broken links, npm audit vulnerability, and test mocks (#146)
  .gitignore
  backend/tests/test_api_endpoints.py
  frontend/package-lock.json
Due: backend-tests

fix: downgrade @eslint/js to maintain compatibility with typescript-eslint
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: optimize pytest parallelization and increase verbosity
  .github/actions/run-backend-tests/action.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  backend/tests/README.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

fix: add --timeout=120 to pytest commands in CI
  .github/actions/run-backend-tests/action.yml
  .github/workflows/ci.yml
Due: none

fix: revert CI parallelization, keep sequential for stability
  .github/actions/run-backend-tests/action.yml
  .github/workflows/ci.yml
  backend/tests/README.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links
