Repository pkuppens/babblr: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, frontend-prettier, frontend-eslint, check-markdown-local-links, markdownlint-cli2, remark-validate-links

pyright:
  name: pyright
  entry: uv run --no-sync --directory backend pyright
  language: system
  pass_filenames: false

frontend-prettier:
  name: frontend-prettier
  entry: bash -lc "npm --prefix frontend run format"
  language: system
  pass_filenames: false

frontend-eslint:
  name: frontend-eslint
  entry: bash -lc "npm --prefix frontend run lint:fix"
  language: system
  pass_filenames: false

check-markdown-local-links:
  name: check markdown local links (files exist)
  entry: python scripts/check_markdown_local_links.py
  language: python

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.16.0

remark-validate-links:
  name: remark (validate links/references)
  entry: remark
  language: node
  additional_dependencies:
  - remark-cli@12.0.1
  - remark-validate-links@13.0.1
  args:
  - --frail
  - --use
  - remark-validate-links

chore: apply prettier formatting fixes
  frontend/src/App.tsx
  frontend/src/components/ConversationStarters.tsx
  frontend/src/components/TopicSelector.tsx
Due: frontend-prettier, frontend-eslint

feat: add BABBLR_DEV environment variable to control uvicorn reload
  backend/app/main.py
  run-backend.bat
  run-backend.sh
Due: pyright

fix: use uvicorn CLI directly in dev mode for reliable auto-reload
  backend/app/main.py
  run-backend.bat
  run-backend.sh
Due: pyright

chore: update feature request template for new github issues
  .github/ISSUE_TEMPLATE/feature_request.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

specs: clarify conversation app flow.
  README.md
  docs/CONVERSATION_FLOW.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

feat: set up frontend testing infrastructure with Vitest and React Testing Library
  frontend/package.json
  frontend/src/test/README.md
  frontend/src/test/fixtures/README.md
  frontend/src/test/setup.test.tsx
  frontend/src/test/setup.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: frontend-prettier, frontend-eslint, check-markdown-local-links, markdownlint-cli2, remark-validate-links

feat: implement tab-based navigation system
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/Settings.css
  frontend/src/components/Settings.tsx
  frontend/src/components/TabBar.css
  frontend/src/components/TabBar.test.tsx
  frontend/src/components/TabBar.tsx
  frontend/src/screens/AssessmentsScreen.tsx
  frontend/src/screens/ConfigurationScreen.tsx
  frontend/src/screens/ConversationsScreen.tsx
  frontend/src/screens/GrammarScreen.tsx
  frontend/src/screens/HomeScreen.tsx
  frontend/src/screens/Screen.css
  frontend/src/screens/VocabularyScreen.tsx
  frontend/src/test/setup.ts
  frontend/src/types/index.ts
Due: frontend-prettier, frontend-eslint

feat: enhance Configuration screen with user display and improved settings
  frontend/src/App.tsx
  frontend/src/components/Settings.css
  frontend/src/components/Settings.tsx
  frontend/src/components/UserDisplay.css
  frontend/src/components/UserDisplay.tsx
  frontend/src/services/settings.ts
  frontend/src/test/setup.ts
Due: frontend-prettier, frontend-eslint

feat: promote Native Language to own section and enable English learning
  frontend/src/App.test.tsx
  frontend/src/components/LanguageSelector.tsx
  frontend/src/components/Settings.tsx
  frontend/src/services/settings.ts
  frontend/src/types/index.ts
  frontend/src/utils/starterMessages.ts
Due: frontend-prettier, frontend-eslint

#3: refactor: remove deprecated vocabulary_items model and reactive vocabulary extraction
  CLAUDE.md
  POLICIES.md
  backend/README.md
  backend/app/models/models.py
  backend/app/models/schemas.py
  backend/app/routes/chat.py
  backend/app/routes/conversations.py
  backend/app/services/claude_service.py
  backend/app/services/conversation_service.py
  backend/tests/test_unit.py
  docs/ARCHITECTURE.md
  docs/DATABASE_SCHEMA.md
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: pyright, frontend-prettier, frontend-eslint, check-markdown-local-links, markdownlint-cli2, remark-validate-links

style: apply ruff formatting fixes
  backend/app/models/models.py
  backend/app/models/schemas.py
  backend/tests/test_unit.py
Due: pyright

fix: resolve linting errors and type issues
  .gitignore
  backend/app/models/models.py
  backend/app/models/schemas.py
  backend/app/routes/chat.py
  backend/app/routes/conversations.py
  backend/app/services/conversation_service.py
  backend/app/services/prompt_builder.py
  backend/app/static/topics.json
  frontend/src/App.tsx
  frontend/src/components/ConversationInterface.tsx
  frontend/src/components/TopicSelector.tsx
  frontend/src/screens/ConversationsScreen.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: pyright, frontend-prettier, frontend-eslint

Fix conversation flow and add translation support
  backend/app/database/db.py
  backend/app/main.py
  backend/app/models/schemas.py
  backend/app/routes/chat.py
  backend/app/routes/vocabulary.py
  backend/app/scripts/migrate_add_topic_id.py
  backend/app/scripts/seed_vocabulary_lessons.py
  backend/app/services/conversation_service.py
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/test_initial_message_endpoint.py
  backend/tests/test_initial_message_integration.py
  backend/tests/test_vocabulary_lessons.py
  frontend/src/App.tsx
  frontend/src/components/ConversationInterface.tsx
  frontend/src/components/MessageBubble.css
  frontend/src/components/MessageBubble.tsx
  frontend/src/components/TopicCard.tsx
  frontend/src/test/conversationFlow.integration.test.tsx
  frontend/src/types/index.ts
Due: pyright, frontend-prettier, frontend-eslint

Add STT configuration UI with dynamic model switching
  backend/app/routes/stt.py
  backend/app/services/whisper_service.py
  frontend/src/components/Settings.css
  frontend/src/components/Settings.tsx
  frontend/src/services/api.ts
Due: pyright, frontend-prettier, frontend-eslint

UI: feedback during Whisper model switch in configuration.
  .pre-commit-config.yaml
  backend/app/main.py
  backend/app/routes/chat.py
  backend/app/routes/stt.py
  backend/app/routes/vocabulary.py
  backend/app/scripts/seed_vocabulary_lessons.py
  backend/app/services/claude_service.py
  backend/app/services/llm/factory.py
  backend/app/services/llm/providers/claude.py
  backend/app/services/whisper_service.py
  backend/tests/test_gemini_integration.py
  backend/tests/test_initial_message_endpoint.py
  backend/tests/test_initial_message_integration.py
  backend/tests/test_vocabulary_lessons.py
  frontend/src/components/Settings.css
  frontend/src/components/Settings.tsx
  frontend/src/services/api.ts
  frontend/src/test/conversationFlow.integration.test.tsx
  frontend/vite.config.ts
Due: pyright, frontend-prettier, frontend-eslint

feat: Add grammar lessons with spaced repetition and adaptive learning
  backend/app/database/db.py
  backend/app/main.py
  backend/app/models/models.py
  backend/app/models/schemas.py
  backend/app/routes/grammar.py
  backend/app/scripts/migrate_add_mastery_score.py
  backend/tests/test_grammar_lessons.py
  frontend/src/App.tsx
  frontend/src/components/LanguageSelector.tsx
  frontend/src/screens/GrammarScreen.css
  frontend/src/screens/GrammarScreen.test.tsx
  frontend/src/screens/GrammarScreen.tsx
  frontend/src/screens/HomeScreen.tsx
  frontend/src/services/api.ts
  frontend/src/services/grammarService.test.ts
Due: pyright, frontend-prettier, frontend-eslint

feat(grammar): Add basic grammar lesson data models
  backend/app/grammar/__init__.py
  backend/app/grammar/models.py
  backend/tests/grammar/__init__.py
  backend/tests/grammar/test_models.py
Due: pyright

refactor(grammar): Move CEFRLevel to shared models location
  backend/app/grammar/models.py
  backend/app/models/cefr.py
  backend/tests/grammar/test_models.py
Due: pyright

fix(lessons): Fix linting error in list lessons endpoint
  backend/app/main.py
  backend/app/models/models.py
  backend/app/models/schemas.py
  backend/app/routes/lessons.py
  backend/app/scripts/generate_lessons.py
  backend/app/scripts/migrate_add_lesson_fields.py
  backend/tests/lessons/__init__.py
  backend/tests/lessons/test_list_lessons.py
  docs/curriculum/lesson-creation.md
Due: pyright, check-markdown-local-links, markdownlint-cli2, remark-validate-links

feat(grammar): Complete grammar epic - issues 3-6
  backend/app/grammar/models.py
  backend/app/grammar/schemas.py
  backend/app/grammar/service.py
  backend/app/routes/grammar.py
  backend/tests/grammar/test_exercise_types.py
  backend/tests/grammar/test_get_lesson.py
  backend/tests/grammar/test_spaced_rep.py
  backend/tests/grammar/test_submit_exercise.py
  backend/tests/test_grammar_lessons.py
Due: pyright

#65: chore: create feature branch with architecture docs and test placeholder
  backend/tests/test_assessments.py
  docs/ARCHITECTURE.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

#65: docs: document assessment data model with skill breakdown
  docs/DATABASE_SCHEMA.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

#66: test: add assessment screen test structure with todo markers
  frontend/src/screens/AssessmentsScreen.test.tsx
Due: frontend-prettier, frontend-eslint

#65: feat: extend assessment models with skill category support
  backend/app/models/models.py
  backend/app/models/schemas.py
  backend/tests/test_assessments.py
Due: pyright

#65: feat: add scoring and seed data services for assessments
  backend/app/services/assessment_seed.py
  backend/app/services/scoring_service.py
  backend/tests/test_assessments.py
Due: pyright

#65: feat: add assessment API endpoints and frontend UI
  .gitignore
  backend/app/main.py
  backend/app/routes/assessments.py
  backend/app/routes/user_levels.py
  backend/tests/test_assessments.py
  frontend/src/App.tsx
  frontend/src/screens/AssessmentsScreen.css
  frontend/src/screens/AssessmentsScreen.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: pyright, frontend-prettier, frontend-eslint

#11: chore: create feature branch for progress dashboard
  backend/tests/test_progress.py
Due: none

#11: feat: add assessment progress stats to progress service
  backend/app/services/progress_service.py
  backend/tests/test_progress.py
Due: pyright

#11: feat: add grammar progress stats to progress service
  backend/app/services/progress_service.py
Due: pyright

#11: feat: add vocabulary progress stats to progress service
  backend/app/services/progress_service.py
  backend/tests/test_progress.py
Due: pyright

feat: progress indicator endpoint
  backend/app/main.py
  backend/app/routes/progress.py
  backend/tests/test_progress.py
Due: pyright

chore: code review comments
  backend/app/grammar/models.py
  backend/app/routes/grammar.py
  backend/app/scripts/migrate_add_lesson_fields.py
  backend/tests/conftest.py
  backend/tests/grammar/test_get_lesson.py
  backend/tests/grammar/test_submit_exercise.py
  backend/tests/lessons/test_list_lessons.py
Due: pyright

chore: configure pre-commit hooks for early failure and fix test issues
  .pre-commit-config.yaml
  backend/app/database/db.py
  backend/app/main.py
  backend/pyproject.toml
  backend/tests/test_assessments.py
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/BackendErrorIndicator.css
  frontend/src/components/BackendErrorIndicator.tsx
  frontend/src/contexts/BackendErrorContext.tsx
  frontend/src/hooks/useBackendError.ts
  frontend/src/main.tsx
  frontend/src/screens/AssessmentsScreen.css
  frontend/src/screens/AssessmentsScreen.tsx
  frontend/src/test/conversationFlow.integration.test.tsx
  frontend/src/utils/errorHandler.ts
  frontend/vite.config.ts
Due: pyright, frontend-prettier, frontend-eslint

UI: start assessment button & styling, README.md preview
  README.md
  docs/screenshots/assessment-screen.svg
  docs/screenshots/home-screen.svg
  frontend/src/screens/AssessmentsScreen.css
  frontend/src/screens/AssessmentsScreen.tsx
Due: frontend-prettier, frontend-eslint, check-markdown-local-links, markdownlint-cli2, remark-validate-links

Update progress dashboard feature
  backend/app/models/schemas.py
  backend/app/routes/assessments.py
  frontend/src/App.tsx
  frontend/src/screens/AssessmentsScreen.css
  frontend/src/screens/AssessmentsScreen.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  run-backend.bat
Due: pyright, frontend-prettier, frontend-eslint

feat: databricks data ingestion
  .gitignore
  databricks/README.md
  databricks/export_data.py
  databricks/generate_synthetic_data.py
  databricks/notebooks/01_bronze_layer.ipynb
  databricks/notebooks/01_bronze_layer.py
  databricks/notebooks/02_silver_layer.ipynb
  databricks/notebooks/02_silver_layer.py
  databricks/notebooks/03_gold_layer.ipynb
  databricks/notebooks/03_gold_layer.py
  databricks/notebooks/04_dashboard.ipynb
  databricks/notebooks/04_dashboard.py
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

#72: docs: add Databricks tutorial documentation and validation plan
  databricks/README.md
  databricks/VALIDATION.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

test: completed databricks validation part 1.
  backend/pyproject.toml
  databricks/VALIDATION.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

test: validating 01_bronze_layer notebook
  databricks/VALIDATION.md
  databricks/notebooks/01_bronze_layer.ipynb
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

test: complete validation 03_gold_layer, with cleanup and MLFlow check (not on free edition)
  .pre-commit-config.yaml
  databricks/notebooks/01_bronze_layer.ipynb
  databricks/notebooks/01_bronze_layer.py
  databricks/notebooks/02_silver_layer.ipynb
  databricks/notebooks/02_silver_layer.py
  databricks/notebooks/03_gold_layer.ipynb
  databricks/notebooks/03_gold_layer.py
  databricks/notebooks/04_dashboard.ipynb
Due: none

Path conditions:
  pyright: any of: ^backend/app/ and \.py$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  check-markdown-local-links: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.md$ and \.(md|markdown|mdown)$
  remark-validate-links: any of: \.md$ and \.(md|markdown|mdown)$
