Repository pkuppens/babblr: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, backend-tests, frontend-prettier, frontend-eslint, frontend-tests, check-markdown-local-links, markdownlint-cli2, remark-validate-links

pyright:
  name: pyright
  entry: uv run --no-sync --directory backend pyright
  language: system
  pass_filenames: false

backend-tests:
  name: backend-tests
  entry: uv run --no-sync --directory backend python -m pytest tests/ -v --tb=short -m 'not integration'
  language: system
  pass_filenames: false

frontend-prettier:
  name: frontend-prettier
  entry: bash -lc "npm --prefix frontend run format"
  language: system
  pass_filenames: false

frontend-eslint:
  name: frontend-eslint
  entry: bash -lc "npm --prefix frontend run lint:fix"
  language: system
  pass_filenames: false

frontend-tests:
  name: frontend-tests
  entry: bash -lc "npm --prefix frontend test -- --run"
  language: system
  pass_filenames: false

check-markdown-local-links:
  name: check markdown local links (files exist)
  entry: python scripts/check_markdown_local_links.py
  language: python

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.16.0

remark-validate-links:
  name: remark (validate links/references)
  entry: remark
  language: node
  additional_dependencies:
  - remark-cli@12.0.1
  - remark-validate-links@13.0.1
  args:
  - --frail
  - --use
  - remark-validate-links

feat: add cleanup script for merged branches and workflow runs
  .claude/skills/git-workflow/SKILL.md
  CLEANUP_COMMAND_SUMMARY.md
  scripts/README.md
  scripts/cleanup-merged-branches.sh
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

feat: add cleanup script for merged branches and workflow runs (#151)
  .claude/skills/git-workflow/SKILL.md
  CLEANUP_COMMAND_SUMMARY.md
  scripts/README.md
  scripts/cleanup-merged-branches.sh
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

fix: use local temp file for cleanup script to avoid path translation issues
  scripts/cleanup-merged-branches.sh
Due: none

fix: use local temp file for cleanup script to avoid path translation issues (#152)
  scripts/cleanup-merged-branches.sh
Due: none

#72: fix: update stale DBFS/Community Edition references to Free Edition
  databricks/README.md
  databricks/export_data.py
  databricks/generate_synthetic_data.py
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

#72: fix: update stale DBFS/Community Edition references to Free Edition (#153)
  databricks/README.md
  databricks/export_data.py
  databricks/generate_synthetic_data.py
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

#80: fix: update config comments for BYOK provider options
  backend/app/config.py
Due: pyright, backend-tests

#80: fix: update config comments for BYOK provider options (#154)
  backend/app/config.py
Due: pyright, backend-tests

#108: feat: add asyncpg dependency for PostgreSQL support
  backend/pyproject.toml
Due: none

#108: feat: add asyncpg dependency for PostgreSQL support (#155)
  backend/pyproject.toml
Due: none

chore: Dependabot monthly schedule, security workflow improvements
  .github/dependabot.yml
  .github/workflows/security.yml
  docs/ci/CI_PIPELINE.md
  docs/ci/GITHUB_ACTIONS_GUIDE.md
  docs/ci/GITHUB_ACTIONS_SUMMARY.md
  docs/ci/README.md
  docs/ci/SECURITY_SCANNING.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

chore: add Repository Cleanup workflow
  .github/workflows/cleanup.yml
  CLEANUP_COMMAND_SUMMARY.md
  docs/ci/GITHUB_ACTIONS_SUMMARY.md
  docs/ci/README.md
  docs/ci/REPOSITORY_CLEANUP.md
  scripts/README.md
  scripts/cleanup-github-actions.sh
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

refactor: consolidate cleanup scripts, remove redundancy
  CLEANUP_COMMAND_SUMMARY.md
  docs/ci/REPOSITORY_CLEANUP.md
  scripts/README.md
  scripts/cleanup-merged-branches.sh
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

Dependabot monthly, security improvements, Repository Cleanup workflow (#158)
  .github/dependabot.yml
  .github/workflows/cleanup.yml
  .github/workflows/security.yml
  CLEANUP_COMMAND_SUMMARY.md
  docs/ci/CI_PIPELINE.md
  docs/ci/GITHUB_ACTIONS_GUIDE.md
  docs/ci/GITHUB_ACTIONS_SUMMARY.md
  docs/ci/README.md
  docs/ci/REPOSITORY_CLEANUP.md
  docs/ci/SECURITY_SCANNING.md
  scripts/README.md
  scripts/cleanup-github-actions.sh
  scripts/cleanup-merged-branches.sh
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

fix: combine dependabot updates #159/#160, fix npm audit and eslint peer deps
  .github/workflows/security.yml
  .pre-commit-config.yaml
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: combine dependabot updates #159/#160, fix npm audit and eslint peer deps (#161)
  .github/workflows/security.yml
  .pre-commit-config.yaml
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: add /cleanup slash command definition
  .claude/commands/cleanup.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

chore: add /cleanup slash command definition (#162)
  .claude/commands/cleanup.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

chore: improve Dependabot config and add auto-merge workflow
  .github/dependabot.yml
  .github/workflows/dependabot-automerge.yml
Due: none

chore: improve Dependabot config and add auto-merge workflow (#166)
  .github/dependabot.yml
  .github/workflows/dependabot-automerge.yml
Due: none

fix: use correct Dependabot cron schedule format
  .github/dependabot.yml
Due: none

fix: use legacy-peer-deps for npm ci (eslint-plugin-react vs eslint 10)
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

#170: fix: restore eslint 9 compatibility for CI
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: resolve ESLint errors (preserve-caught-error, no-useless-assignment)
  frontend/src/components/TabBar.tsx
  frontend/src/services/settings.ts
  frontend/src/utils/encryption.ts
Due: frontend-prettier, frontend-eslint, frontend-tests

#170: fix: resolve frontend lint CI failures
  frontend/src/components/TabBar.tsx
  frontend/src/services/settings.ts
  frontend/src/utils/encryption.ts
Due: frontend-prettier, frontend-eslint, frontend-tests

fix: disable preserve-caught-error (ES2020 lacks Error cause option)
  frontend/eslint.config.js
  frontend/src/services/settings.ts
  frontend/src/utils/encryption.ts
Due: frontend-prettier, frontend-eslint, frontend-tests

#189: fix: cap torch minimum for uv resolution
  backend/pyproject.toml
Due: none

Apply suggestions from code review
  backend/pyproject.toml
Due: none

#189: fix: resolve dependency and frontend type CI failures
  backend/pyproject.toml
  frontend/src/hooks/useBackendError.ts
Due: frontend-prettier, frontend-eslint, frontend-tests

#189: fix: CUDA 13 PyTorch index, torch 2.11+, frontend timer type
  VALIDATION.md
  backend/SETUP.md
  backend/check_cuda.py
  backend/pyproject.toml
  frontend/src/hooks/useBackendError.ts
Due: backend-tests, frontend-prettier, frontend-eslint, frontend-tests, check-markdown-local-links, markdownlint-cli2, remark-validate-links

#189: docs: note slow links can rely on GitHub Actions for CUDA uv sync
  backend/SETUP.md
  backend/UV_SETUP.md
Due: check-markdown-local-links, markdownlint-cli2, remark-validate-links

fix: satisfy frontend hook lint ordering
  frontend/src/components/Settings.tsx
  frontend/src/screens/AssessmentsScreen.tsx
  frontend/src/screens/GrammarScreen.tsx
Due: frontend-prettier, frontend-eslint, frontend-tests

Path conditions:
  pyright: any of: ^backend/app/ and \.py$
  backend-tests: any of: ^backend/ and \.py$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  frontend-tests: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  check-markdown-local-links: any of: \.(md|markdown|mdown)$
  markdownlint-cli2: any of: \.md$ and \.(md|markdown|mdown)$
  remark-validate-links: any of: \.md$ and \.(md|markdown|mdown)$
